.btn-index {
    background-color: #006037;
    color: white;
}

.btn-index:hover {
    background-color: #007c04;
    color: white;
}

.card {
    width: 500px;
    margin: auto;
}

.profile-pic {
    border-radius: 50%;
    object-fit: cover;
    width: 172px;
    height: 172px;
}

.profile-pic-listposts {
    width: 60px;
    height: 60px;
}

.profile-pic-header {
    width: 40px;
    height: 40px;
}

.name-hide {}